body {
    background-image: url("bolhas.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    padding-left: 15%;
    padding-right: 15%;
}
.container h1{
    margin-top: 50px;
    margin-bottom: 50px;
}
.container h2{
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(18, 112, 194);
}

.container h3{
    margin-top: 0px;
    font-size: 13px;
    color:rgb(112, 112, 112);
    font-family:monospace;
}

h5 {
    text-align: center;
    font-size: 30px;
    color: rgb(0, 167, 209);
}

h6 {
    text-align: center;
    font-size: 20px;
    color: rgb(0,167,209);
}

p{
    text-align: center;
    font-size: 20px;
}

.container Label{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(21, 45, 73);
}

.container input{
    margin-bottom: 5px;
}

